{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='post'>
        <div>
            <label>
                Title for your new blog:
                <input type="text" name='title' />
            </label>
        </div>
        <div>
            <label>
                Your new blog:
                <textarea type="text" placeholder="What's on your mind?" name='body'></textarea>
            </label>
            <br>
            <input type="submit" value='Add Entry' />
        </div>
    </form>

{% endblock %}